{% extends "header_admin.html" %}
{% block content %}
	<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-user-cog"></i> {{ datos.1 }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
                            <li class="breadcrumb-item active">{{ datos.1 }}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <iframe width="1250" height="673.5" src="https://app.powerbi.com/view?r=eyJrIjoiNTgzMGYwNDctMzAwZS00NzM5LWE2NjktYzhhYWZhYTAxNWQ2IiwidCI6IjFlYmE0NDNmLTIzZTUtNDUzNC05MGQxLTA5NzZhYWJlODZhYyIsImMiOjR9&pageName=ReportSection9e411ff500ceb55b275b" frameborder="0" allowFullScreen="true"></iframe>
        <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Title</h3>
              
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
              Start creating your amazing application!
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </section>
      <!-- /.content -->

    </div>
     <!-- /.content-wrapper -->
	<footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 2.0.1
        </div>
        <strong>Copyright &copy; 2021 <a href="#">WebMaster-ANR</a>.</strong> All rights
    reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</body>
<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/functions_vista_pbi.js')}}"></script>
<script src="{{url_for('static', filename='js/sweetalert2.min.js')}}"></script>
</html>
{% endblock %}